@import "tailwindcss";
:root {
  --averix-red-vivid: #e71e2e;
  --averix-red-light: #d51c2a;
  --averix-red-dark: #ce0419;
  --averix-red-darker: #6d0412;
  --averix-red-accent: #b91828;
  --averix-black: #000000;
  --averix-white: #ffffff;
}

@theme inline {
  --color-averix-red-vivid: var(--averix-red-vivid);
  --color-averix-red-light: var(--averix-red-light);
  --color-averix-red-dark: var(--averix-red-dark);
  --color-averix-red-darker: var(--averix-red-darker);
  --color-averix-red-accent: var(--averix-red-accent);
  --color-averix-black: var(--averix-black);
  --color-averix-white: var(--averix-white);
}
